{#
    Header for the app
#}
{%macro render_header(league_img,title,show_button=false)%}
<div class="img-title-row">
    <div class="league-img-container">
        <img src="{{ league_img }}" alt="Image"/>
    </div>

    <h1 class="league-title"> {{ title }} </h1>
    
    {% if show_button | default(false) %}
    <button   class="no-print" onclick="window.print()"> Print</button>
    {% endif %}
</div>
{% endmacro %}