<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  {# <link rel="stylesheet" href="styles/styles.css"> #}
    <style>
    {{ custom_css | safe}}
    </style>
</head>
<body>
    <header>
    <div class="title_bar no-print">
            <p class="title_text">Today's game loader!</p>
        {% if interactive %}
    <button onclick="window.print()" class="no-print">Print</button>
    {% endif %}
    </div>

    </header>
    
  <div class="a4-paper">
    {# <h1 style="color:red; font-style:italic;">{{ header }}</h1> #}
    <h1 class="title">{{ header }}</h1>
    <p>This is your printable A4 content.</p>

  </div>
</body>
</html>