<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  {# <link rel="stylesheet" href="styles/styles.css"> #}
    <style>
    {{ custom_css | safe}}
    </style>
</head>
<body>
    {# <header>
    <div class="title_bar no-print">
            <p class="title_text">Today's game loader!</p>
        {% if interactive %}
    <button onclick="window.print()" class="no-print">Print</button>
    {% endif %}
    </div> #}
{# 
    </header> #}

    {% import 'header.jinja2' as header %}

{{ header.render_header(league_img, title , true) }}
    
  <div class="a4-paper">

    {% include 'header.jinja2'%}
    {# <h1 style="color:red; font-style:italic;">{{ header }}</h1> #}

    {% include 'teams.jinja2' %}
 

  </div>
</body>
</html>