<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  {# <link rel="stylesheet" href="styles/styles.css"> #}
    <style>
    {{ custom_css | safe}}
    </style>
</head>
<body>
    {# <header>
    <div class="title_bar no-print">
            <p class="title_text">Today's game loader!</p>
        {% if interactive %}
    <button onclick="window.print()" class="no-print">Print</button>
    {% endif %}
    </div> #}
{# 
    </header> #}

    {% include 'header.jinja2' %}
    
    
  <div class="a4-paper">
    {% include 'header.jinja2'%}
    {# <h1 style="color:red; font-style:italic;">{{ header }}</h1> #}
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Under_construction_icon-yellow.svg/1200px-Under_construction_icon-yellow.svg.png" 
     alt="Under Construction" 
     style="width:200px; height:auto;" />


    <p>League rosters .. In construction</p>

  </div>
</body>
</html>