
.img-title-row {
  display: flex;
  align-items: center;
  justify-content: center;  /* Center horizontally */
  gap: 12px;
  margin: 20px 0;
  background-color: white;
}

.league-img-container {
  /* background-color: #222; */
  padding: 10px;
  display: inline-block;
  border-radius: 6px;
}

.league-img-container img{
  height: 2em; /* Match text height */
  width: auto;
  display: block;
  filter: invert(1);
}

.league-title {
  font-size: 1.5em;
  margin: 0;
  color: black; /* Optional: for visibility against dark backgrounds */
  font-weight: normal;
}

.team-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(autofill,minmax(120px,1fr)); */
    gap: 16px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
}

.team-card {
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 10px;

}

.team-card img {
  max-width: 80px;
  height: auto;
  display: block;
  margin: 0 auto 8px auto;
  filter: grayscale(100%) contrast(120%)
  /* filter: invert(1); */
}

.team-card p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.title_bar{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.title{
    margin: 0; 
    text-align: center; 
    flex-grow: 1;
}

.a4-paper {
  width: 200mm;      /* slightly less than A4 width (210mm) */
  /* height: 287mm;     slightly less than A4 height (297mm) */
  box-sizing: border-box;

  /* Optional styling */
  border: 1px solid #000;  /* visible border for debugging */
  padding: 20mm;           /* margin inside the page */
  background: white;

  /* To center on screen */
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* If you want to keep the margin but still no page scrolling */
body, html {
  height: 100%;
  margin: 0;
  overflow: scroll; /* disable overall page scroll */
}

@media print {
  .a4-paper {
    margin: 0;
    box-shadow: none;
    page-break-after: always;
    border: none;
    overflow: hidden;

  }

  body, html{
    overflow: hidden;
  }

  .no-print{
    display: none !important;
  }
}