
.title_bar{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.title{
    margin: 0; 
    text-align: center; 
    flex-grow: 1;
}

.a4-paper {
  width: 200mm;      /* slightly less than A4 width (210mm) */
  height: 287mm;     /* slightly less than A4 height (297mm) */
  box-sizing: border-box;

  /* Optional styling */
  border: 1px solid #000;  /* visible border for debugging */
  padding: 20mm;           /* margin inside the page */
  background: white;

  /* To center on screen */
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


@media print {
  .a4-paper {
    margin: 0;
    box-shadow: none;
    page-break-after: always;
    border: none;

  }

  .no-print{
    display: none !important;
  }
}